h2 {
    font-size: medium;
}
h1 {
    font-size: larger;
}

* {
    font-family: "Freight Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif

}
label {
    margin: auto;
}

button {
    font: white;
    background: #659d50;
    font-size: 30px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;    /* round corners */
}

body {background: #edf0f5;}
