       table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
            padding: 10px
        }
        table { padding: 1px;
            margin: 0 auto;}
        th { background:#97ca21}
        .rheader { background: #6d9a05}
        body {
            background: #000000;
            background-size: 100% 350%;
        }

        table {
            color: #edf5e0
        }
