        body {
            background-color: #E8D1B8;
        }

        div {
            background: #b1adab;
        }

        fieldset {
            background-color: #D0AB32;
            color: black;
            font-weight: bold;
        }