body {
    background-color: #e8d1b8;
}

fieldset {
    background-color: #d0ab32;
    border: 2px;
    width: 50%;
    margin: auto;
<<<<<<< HEAD
    }

div {
    border: 2px;
    background: #b1adab;
    text-align: center;
}
=======
    }
>>>>>>> d7cc17223abef5215fdb4b6a79613858bf9432c3
