body {
    background-color: #e8d1b8;
}

fieldset {
    background-color: #d0ab32;
    border: 2px;
    width: 50%;
    margin: auto;
    }

div {
    border: 2px;
    background: #b1adab;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

blockquote {
    text-align: center;
<<<<<<< HEAD
    float: left;
=======
>>>>>>> ab25fbb803279f193830460a5bf7c92a66499a93
}